@using ProjectWork.Models
@model List<Utility.Entity>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - WiWin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/HomeCss/style.css">
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a href="#" class="navbar-brand">Wi<b>Win</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="#" class="nav-item nav-link">Home</a>		
			<a href="#" class="nav-item nav-link">Contatti</a>
        </div>
        <div id="search-align" class="ml-auto mr-auto mt-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search">
            </form>
        </div>
		<div class="navbar-nav action-buttons ml-auto">
			<a href="#" class="nav-item nav-link">Logout</a>	
		</div>
	</div>
</nav>

<!-- lista corsi-->
@foreach(var p in @Model)
{
<section>
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="@(((Corso)p).Copertina)"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <h5 class="titoloCorso">Corso @(((Corso)p).Nome)</h5>
                    <h6 class="docente">Autore - @(((Corso)p).Autore)</h6>
                  <div class="mb-2 text-muted small">
                    <span>Ajax</span>
                    <span class="text-primary"> • </span>
                    <span>JPA</span>
                    <span class="text-primary"> • </span>
                    <span>Hibernate<br /></span>
                  </div>
                  <p class="text mb-4 mb-md-0">
                    Linguaggi trattati: @(((Corso)p).LinguaggioTrattato)
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1" id="prezzo">@(((Corso)p).Costo) €</h4>
                  </div>
                  <h6 class="text-success">@(((Corso)p).Durata) Ore</h6>
                  <h6 class="text">@(((Corso)p).NumeroLezioni) Lezioni</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Modifica</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">Elimina</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
}

   <!-- footer -->
<footer class="text-center text-white">
    <!-- container -->
    <div class="container-footer">

        <hr class="mb-5"/>

        <!-- testo footer -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        distinctio earum repellat quaerat voluptatibus placeat nam,
                        commodi optio pariatur est quia magnam eum harum corrupti
                        dicta, aliquam sequi voluptate quas.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- copyright -->
    <div class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright - 
        <a class="text-white" href="#">WiWin</a>
    </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>                            